*{
    margin: 0;
}
.upper{
    height: 20vh;
    display: flex;
}
.upper.child{
    height: 19vh;
    margin: 1px;
    flex: 1;
    background-color: rgb(189, 136, 126)
}
.lower{
    height: 80vh;
    display: flex;
    flex: 1;
    margin: 1px;
}
.left{
    margin: 1px;
    height: 80vh;
    width: 50vw;
    display: flex;
    background-color: rgb(127, 123, 116);
    justify-content: center;
    align-items: center;
}
.right{
    height: 80vh;
    width: 50vw;
}
.right.child{
    margin: 1px;
    height: 20vh;
    width: 50vw;
    flex-direction: column;
    background-color: rgb(142, 151, 107);
}
.left.child{
    height: 100px;
    width: 100px;
    display: flex;
    background-color: yellow;
}